@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DetailsPage


<div class="d-flex justify-content-between align-items-center">
    <div>
        <h1>@Model.UserPost.UserPostTitle</h1>
    </div>
    <div>
        <h3><span class="badge badge-success font-weight-normal">@Model.UserPost.Tag.TagText</span></h3>
    </div>
</div>
<hr />
<div class="mx-4">
    <p>@Model.UserPost.UserPostText</p>
</div>
@*<br />
<h3>Comments</h3>

@foreach (Comment comment in Model.Comments)
{
    @comment.CommentText
}


<h6>New Comment</h6>
<form method="post">
    <input hidden
</form>*@