@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<UserPost>

<img src="~/img/christ_teaching_nephites.jpeg" class="img-fluid" alt="Website Baner">
@foreach (var post in Model)
{
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2 style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; ">@post.UserPostTitle</h2>
                </div>
                <div>
                    <a class="btn btn-light" asp-controller="Home" asp-action="Details" asp-route-postid="@post.UserPostID">View</a>
                </div>

            </div>
            <hr />
            <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; "><span class="badge badge-success">@post.Tag.TagText</span> @post.UserPostText</p>
        </div>
        
        
    </div>
}
<br />
<a class="btn btn-outline-success" asp-action="Create" asp-controller="Home">+ Create New Post</a>
