@{
    ViewData["Title"] = "Home Page";
}

@model List<UserPost>

<img src="~/img/christ_teaching_nephites.jpeg" class="img-fluid" alt="Website Baner">
@foreach (var post in Model)
{
    <div>
        <h1>@post.UserPostTitle</h1>
        <h2>@post.UserPostText</h2>
        
        @foreach (var tag in post.UserPostTags)
                {
            <small>@tag.Tag.TagText</small>
                }
    </div>
}
